<!-- <fa-icon [icon]="deleteIcon" class="ms-1" data-bs-toggle="modal" [attr.data-bs-target]="'#deletePostModal'"></fa-icon> -->

<!-- Modal pour la suppression des posts -->
<div
  class="modal fade"
  id="deletePostModal"
  tabindex="-1"
  aria-labelledby="deletePostLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCommentLabel">
          Etes-vous sur de vouloir supprimer cette publication ?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #deletePostForm="ngForm" class="input-group">
        <div name="post_id" ngDefaultControl ngModel="{{ post.post_id }}"></div>
        <div
          name="creation_date"
          ngDefaultControl
          ngModel="{{ post.creation_date }}"
        ></div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" (click)="onClick()">
            Supprimer post
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
