<div id="page-container">

    <div id="content-wrap">
        <header>
            <div class="container-xxl">
                <div class="row my-3">
                    <div class='col-12 col-sm-4 col-xl-3 d-flex align-items-center'>
                        <img class='img-fluid' src="../../assets/images/icon-left-font-monochrome-black.svg">
                    </div>
                    <!-- LOGO GROUPOMANIA -->
                    <div class='col'></div>
                    <div class='col-12 col-sm-auto d-flex justify-content-evenly align-items-center flex-wrap'>
                        <span class="mx-3 fw-bold">{{user.firstname}} {{user.lastname}}</span>
                        <div class="thumbnail-small mx-3">
                            <img src="../../assets/images/Lucas.jpg">
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle fw-bold" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item hover-blue fw-bold" type="button">Nouvelle
                                        publication</button></li>
                                <li><button class="dropdown-item" type="button">Mon Profil</button></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><button class="dropdown-item hover-red" type="button"><a routerLink="/connexion">Deconnexion</a></button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Bouton Connexion -->
                </div>
            </div>
            <div class="redbar"></div>
            <div class="bluebar"></div>
        </header>

        <main class="container-md">
            
            <section class="post" *ngFor="let post of posts">
                <div class="d-flex align-items-center">
                    <div class="thumbnail-tiny border border-secondary">
                        <img src="../../assets/images/jean-paul-rouve.jpg">
                    </div>
                    <h2 class="fs-6 border"><b>{{post.firstname}} {{post.lastname}}</b><span> le {{post.creation_date}}</span></h2>
                    
                </div>
                <div align="center" class="col">
                    <div class="container-iframe" *ngIf="post.video_url">
                        <iframe class="responsive-iframe" src={{post.video_url}}
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen"
                        oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    </div>
                </div>
                <div class="textbox textcontent">
                {{post.textcontent}}
                </div>
                <div class="d-flex flex-column flex-wrap">
                    <span class="fw-bold">{{post.comments.length}} Commentaires :</span>
                    <div class="d-flex align-items-center mb-1" *ngFor="let comment of post.comments">
                        <div class="me-3 nowrap fw-bold">{{comment.firstname}} {{comment.lastname}}</div>
                        <div class="textbox flex-fill">{{comment.textcontent}}</div>
                    </div>

                    <form (ngSubmit)="onSubmitComment(f)" #f="ngForm" class="input-group ">
                        <textarea class="form-control textcontent commentbox-height border" type="text" name="comment" aria-describedby="commentLabel" placeholder="Répondez à {{post.firstname}}" ngModel required></textarea>
                        <button type="submit" class="btn btn-primary ms-auto text-light commentbox-height border" [disabled]="f.invalid">Commenter</button>
                        <div name="post_id" ngDefaultControl ngModel="{{post.post_id}}"></div>
                    </form>
                </div>
            </section>

        </main>
    </div>

    <footer class="container-fluid px-0">
        <div class="redbar"></div>
        <div class="bluebar"></div>
        <div class="container">
            <div class="footer-height d-flex justify-content-evenly flex-wrap">
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>