<div id="page-container">

    <div id="content-wrap">
        <header>
            <div class="container-xxl">
                <div class="row my-3">
                    <div class='col-12 col-sm-4 col-xl-3 d-flex align-items-center'>
                        <img class='img-fluid' src="../../assets/images/icon-left-font-monochrome-black.svg" alt="logo Groupomania">
                    </div>
                    <!-- LOGO GROUPOMANIA -->
                    <div class='col'></div>
                    <div class='col-12 col-sm-auto d-flex justify-content-evenly align-items-center flex-wrap'>
                        <span class="mx-3 fw-bold">{{user.firstname}} {{user.lastname}}</span>
                        <div class="thumbnail-small mx-3">
                            <img src="../../assets/images/Lucas.jpg">
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle fw-bold" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a routerLink="/nouveau-post"><button class="dropdown-item hover-blue fw-bold" type="button">Nouvelle
                                        publication</button></a></li>
                                <li><button class="dropdown-item" type="button">Mon Profil</button></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><button class="dropdown-item hover-red" type="button"><a routerLink="/connexion">Deconnexion</a></button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Bouton Connexion -->
                </div>
            </div>
            <div class="redbar"></div>
            <div class="bluebar"></div>
        </header>

        <main class="container-md">
            
            <section class="post" *ngFor="let post of posts; index as i">
                <div class="d-flex align-items-center">
                    <div class="thumbnail-tiny border border-secondary">
                        <img src="../../assets/images/jean-paul-rouve.jpg">
                    </div>
                    <h2 class="fs-6 border"><b>{{post.firstname}} {{post.lastname}}</b><span> le {{frenchFormatter.format(post.creation_date)}}</span></h2>
                    <app-delete-post-modal *ngIf="post.postIsMine" post="post"></app-delete-post-modal>
                </div>
                <div align="center" class="col">
                    <div class="container-iframe" *ngIf="post.video_url">
                        <iframe class="responsive-iframe" *ngIf="post.video_url" [src]="post.video_url_safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="textbox textcontent">
                {{post.textcontent}}
                </div>
                <div class="d-flex flex-column flex-wrap">
                    <span class="fw-bold">Commentaires :</span>
                    <div class="d-flex align-items-center mb-1" *ngFor="let comment of post.comments; index as j">
                        <div class="me-3 nowrap fw-bold">{{comment.firstname}} {{comment.lastname}}</div>
                        <div class="textbox flex-fill" id="commentaire">{{comment.textcontent}}</div>
                        <fa-icon *ngIf="comment.commentIsMine" [icon]="editIcon" class="ms-1" data-bs-toggle="modal" [attr.data-bs-target]="'#editedCommentModal'" (click)="onEditModal(i,j)"></fa-icon>
                        <fa-icon *ngIf="comment.commentIsMine" [icon]="deleteIcon" class="ms-1" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteCommentModal'" (click)="onDeleteModal(i,j)"></fa-icon>
                    </div>
                    <form (ngSubmit)="onSubmitComment(f)" #f="ngForm" class="input-group ">
                        <textarea class="form-control textcontent commentbox-height border" type="text" name="comment" aria-describedby="commentLabel" placeholder="Répondez à {{post.firstname}}" ngModel required></textarea>
                        <button type="submit" class="btn btn-primary ms-auto text-light commentbox-height border" [disabled]="f.invalid">Commenter</button>
                        <div name="post_id" ngDefaultControl ngModel="{{post.post_id}}"></div>
                    </form>
                </div>
            </section>

            <!-- Modal pour l'édition des commentaires -->
            <div class="modal fade" id="editedCommentModal" tabindex="-1" aria-labelledby="editedCommentLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editedCommentLabel" >Éditer commentaire</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="editedCommentModalBody">
                        <form (ngSubmit)="onEditComment(editCommentForm)" #editCommentForm="ngForm" class="input-group ">
                            <textarea class="form-control height-200" type="text" name="editedComment" aria-describedby="editedCommentLabel" ngModel={{this.commentEditModalBody.textcontent}} required></textarea>
                            <button type="submit" class="btn btn-primary ms-auto text-light commentbox-height border" [disabled]="editCommentForm.invalid">Valider</button>
                            <div name="post_id" ngDefaultControl ngModel="{{this.commentEditModalBody.post_id}}"></div>
                            <div name="creation_date" ngDefaultControl ngModel="{{this.commentEditModalBody.creation_date}}"></div>
                            <div name="user_id" ngDefaultControl ngModel="{{this.commentEditModalBody.user_id}}"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Modal pour la suppression des commentaires -->
            <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteCommentLabel">Etes-vous sur de vouloir supprimer ce commentaire ?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form (ngSubmit)="onDeleteComment(deleteCommentform, this.commentDeleteModalBody.post_index, this.commentDeleteModalBody.comment_index)" #deleteCommentform="ngForm" class="input-group ">
                            <div name="post_id" ngDefaultControl ngModel="{{this.commentDeleteModalBody.post_id}}"></div>
                            <div name="creation_date" ngDefaultControl ngModel="{{this.commentDeleteModalBody.creation_date}}"></div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger" (click)="closeModal('deleteCommentModal')">Supprimer commentaire</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <footer class="container-fluid px-0">
        <div class="redbar"></div>
        <div class="bluebar"></div>
        <div class="container">
            <div class="footer-height d-flex justify-content-evenly flex-wrap">
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>