<div id="page-container">

    <div id="content-wrap">
        <header>
            <div class="container-xxl">
                <div class="row my-3">
                    <div class='col-12 col-sm-4 col-xl-3 d-flex align-items-center'>
                        <img class='img-fluid' src="../../assets/images/icon-left-font-monochrome-black.svg">
                    </div>
                    <!-- LOGO GROUPOMANIA -->
                    <div class='col'></div>
                    <div class='col-12 col-sm-auto d-flex justify-content-evenly align-items-center flex-wrap'>
                        <span class="mx-3 fw-bold">Super User</span>
                        <div class="thumbnail-small mx-3">
                            <img src="../../assets/images/Lucas.jpg">
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle fw-bold" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item hover-blue fw-bold" type="button">Nouvelle
                                        publication</button></li>
                                <li><button class="dropdown-item" type="button">Mon Profil</button></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><button class="dropdown-item hover-red" type="button"><a routerLink="/connexion">Deconnexion</a></button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Bouton Connexion -->
                </div>
            </div>
            <div class="redbar"></div>
            <div class="bluebar"></div>
        </header>

        <main class="container-md">
            
            <section class="post">
                <div class="d-flex align-items-center">
                    <div class="thumbnail-tiny border border-secondary">
                        <img src="../../assets/images/jean-paul-rouve.jpg">
                    </div>
                    <h2 class="fs-6 border"><b>Jean Paul Rouve </b><span>le 3 novembre 2021</span></h2>
                    
                </div>
                <div align="center" class="col">
                    <div class="container-iframe">
                        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen"
                        oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    </div>
                </div>
                <div class="textbox">
                    Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella rediviva consurgunt, anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat cuncta Bellona, ex primordiis minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium!
                </div>
                <div class="">
                    <span class="fw-bold">2 Commentaires :</span>
                    <div class="d-flex align-items-center mb-1">
                        <div class="me-3 nowrap">Philippe Katerine </div>
                        <div class="textbox flex-fill">J'adore !</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="me-3 nowrap">Jules César </div>
                        <div class="textbox flex-fill">Veni vedi vici.</div>
                    </div>
                </div>
            </section>

            <section class="post">
                <div class="d-flex align-items-center">
                    <div class="thumbnail-tiny border">
                        <img src="../../assets/images/jean-paul-rouve.jpg">
                    </div>
                    <h2 class="fs-6 border"><b>Jean Paul Rouve </b><span>le 3 novembre 2021</span></h2>
                    
                </div>
                <div align="center" class="col">
                    <div class="container-iframe">
                        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/mlHklH5VBtI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="textbox">
                    Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella rediviva consurgunt, anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat cuncta Bellona, ex primordiis minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium!
                </div>
                <div class="">
                    <span class="fw-bold">2 Commentaires :</span>
                    <div class="d-flex align-items-center mb-1">
                        <div class="me-3 nowrap">Philippe Katerine </div>
                        <div class="textbox flex-fill">J'adore !</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="me-3 nowrap">Jules César </div>
                        <div class="textbox flex-fill">Veni vedi vici.</div>
                    </div>
                </div>
            </section>

        </main>
    </div>

    <footer class="container-fluid px-0">
        <div class="redbar"></div>
        <div class="bluebar"></div>
        <div class="container">
            <div class="footer-height d-flex justify-content-evenly flex-wrap">
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
                <ul class="d-flex flex-column justify-content-evenly">
                    <li><a href="#" class="link-dark">Circa hos dies Lollianus primae lanuginis</a></li>
                    <li><a href="#" class="link-dark">Per hoc minui studium suum existimans</a></li>
                    <li><a href="#" class="link-dark">Post haec Gallus Hierapolim profecturus ut</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>